.btn {
    width: 100%;
    padding: 10px;
    border: 2px solid #ff5050;
    border-radius: 4px;

    background-color: #ffffff;
    color: #ff5050;

}

.btn:hover {

    background-color: #fff0f0;
}