.contact__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.contact__btn {
    padding: 6px;
    border: 1px solid #020202;
    border-radius: 4px;

}

.contact_info {
    
    width: 250px;
    display: flex;
    justify-content: space-between;
}

.name {
    font-size: 18px;
    font-weight: 600;
}