.user_menu {
    margin-left: auto;
    display: flex;
    gap: 40px;
    align-items: center;
}

.user_name {
    font-size: 24px;
}

.user_icon {
    width: 30px;
    height: 30px;

}

.user_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}